---
layout: layouts/base
meta_title: 'dhmit UROP guide | Communication'
title: 'Communication'
---

<p>Communication comes first because without it, we can't get anything done.</p>

<p>Please read to the bottom of the page, and once you are done, fill out <a
    href="#onboarding-form">the onboarding form</a>.</p>

<h2>GitHub</h2>
<p>
  If you do not already have a GitHub account, <a href="https://github.com/join">create one</a>.
  Ideally choose a username that makes it easy for others to identify you, and remember that your
  GitHub account is going to be a part of your professional identity for a long time, so choose
  wisely.
</p>
<p>
  If you provided a GitHub username or link in your UROP application, you should have already
  received an invitation to join our GitHub organization. Please accept this invite now, if you
  haven't already.
</p>
<p>
  Even if you already have a GitHub account, you may wish to sign up for the <a
    href="https://education.github.com/pack">Student Developer Pack.</a>
</p>

<h2>Slack</h2>
<p>
  You should have already received an invitation to join the DH Lab Slack workspace.
</p>
<p>
  Once you've joined the workspace, send a message on the #random channel, with the title of your
  favorite book, piece of music, or visual art, so everyone knows how to reach you there.
</p>


<h2>Google Account</h2>
<p>
  We use Google Drive and Google Docs extensively in the lab to collaboratively edit documents.
  We recommend that you request an <a href="https://ist.mit.edu/g-suite"
                                      target="_blank">MIT G Suite for Education
  account</a> and use that for your labwork, such that it's associated with your kerberos ID.
</p>


<h2>Email</h2>
<p>As stated in in the <a href="/contract">UROP Contract</a>, we expect you to check your email once
  per business day and expect that you will respond to messages in a timely manner.</p>

<h2 id="onboarding-form">Please fill out our onboarding form!</h2>

<p>Are you done setting up all the above accounts? <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSetORkSIFs0tT9WyE977iDViHcfcV0R6GSlzugZElYimDkUKw/viewform">
  <b>Click to go to the form</b></a>.</p>

<a href="/intro" class="btn btn-outline-primary float-left col-5 col-md-3">&larr; Intro</a>
<a href="/git" class="btn btn-outline-primary float-right col-5">Next: Git &rarr;</a>
