---
layout: layouts/base
meta_title: 'dhmit UROP guide | Gamifying Democracy and Development: Perspectives from Africa'
title: 'Gamifying Democracy and Development: Perspectives from Africa'
---

<h2>Quick Links</h2>

<ul>
    <li>
        <a href="https://www.edx.org/course/democracy-and-development-perspectives-from-afri-2">
        The course on edX: Democracy and Development: Perspectives from Africa
        </a>
    </li>

    <li>
        <a href="https://docs.google.com/document/d/1k5J-yIODumamCIt<0DdmvV-ISXFxIVRvQpVubuP0KPqU/edit">
        Brainstorming Doc
        </a>
    </li>

    <li>
        <a href="https://drive.google.com/drive/folders/1EfQKscfSVw9GlMRiJ1N3B66COrKMo6e1?usp=sharing">
        Google Drive folder
        </a>
    </li>
</ul>



<h2>What are we doing?</h2>
<p>We want to challenge each of Evan's online students to become an “African Democracy Mtaalam (expert)” by developing <strong>three sets of expertise</strong>:</p>
<h3>Knowledge</h3>
<p>
Understanding historical legacies, geography of democratic development, and key theories about similarities and differences across African countries.
</p>
<h3>Ideas</h3>
<p>
How to distinguish and measure core ideas about democracy and development, particularly in the African context. Developing a more sophisticated language and lens for analyzing politics.
</p>
<h3>Strategies</h3>
<p>
From the perspective of different actors within a polity, what actions should they take to achieve certain goals, especially given the other actors and institutions they are likely to confront in various African contexts? Recognize that there are frequently trade-offs, and that especially in diverse polities, few options leave everyone better off or satisfied!
</p>




<h2>How will we be doing that?</h2>
<h3>Sprints</h3>
<p>What is a sprint? A short, time-boxed period where a team works to complete a set amount of work.</p>
<h3>Teams</h3>
<p>Each sprint, we'll divide you into a team of 3-5 UROPs. Staff will announce the first teams and project assignments on Wed 2/5.</p>
<p>Each team will work on one of these topics in the first sprint:</p>
<ul>
<li>Creation of the “African Democracy Mtaalam” scoreboard, badges, and user system</li>
<li>Visualization of how the historical slave trade continues to affect current levels of interpersonal trust</li>
<li>Further development of the budget prototype: real models, more intuitive visualization</li>
<li>Gamification of the heat map prototype - possibly by combining with map quiz or simple Q&amp;A</li>
<li>Geographic campaign simulation: based on real survey data, how should a politician allocate campaign resources?</li>
</ul>
<h3>Stages -&gt; Deliverables</h3>
<ol>
<li>
<h6>Brainstorming -&gt; Proposal</h6>

<p>
	You'll begin by brainstorming a new feature, culminating in drafting a proposal of approx 500-600 words.
</p>
<p>Your proposal will contain:
	<ul>
    <li>the pedagogical objective for your feature</li>
    <li>the user story for your feature</li>
	</ul>
</p>
<p>You'll upload your proposal to <a href="https://drive.google.com/drive/folders/17sO4IOyvngnU-X7IqPDH4mahdOFISVyW?usp=sharing">this Google Drive folder</a>, where Evan will make comments, give feedback, and either approve or request changes. Erica will also make comments at this stage, particularly focusing on helping you improve the quality of the prose.</p>
</li>

<li>
	<h6>Whiteboard and paper UX/technical brainstorming -&gt; tech/design spec on GitHub issues</h6>
	<p class="mt-2 mb-0">First:</p>
	<ul>
		<li>Brainstorm and draw the interface you imagine</li>
		<li>Spec out all of the frontend React components</li>
		<li>Spec out all of the backend functionality</li>
		<li>Spec out any API calls and data formats</li>
	</ul>
	<p class="mt-2 mb-0">Then:</p>
	<ul>
		<li>Write it all up in a GitHub issue, as a checklist, and assign it to your whole team</li>
		<li>@dhmit/staff to request a review of your spec (or just find someone in person!)</li>
		<li>Start making sub issues</li>
	</ul>
	<p class="mt-2">
		<a href="https://github.com/dhmit/democracy_africa/issues/3">Here's a great example from IAP.</a>
	</p>

	<li>
		<h6>Rapid prototyping -&gt; initial PR</h6>
		<ul>
			<li>Get to something working with the feel of your spec as fast as possible.</li>
			<li>Does not have to be (shouldn't be!) polished but should be fleshed out enough to prove whether or not we're moving in the right direction.</li>
			<li>Submit your first PR for review</li>
			<li>Upon approval, Ryaan will deploy immediately, so that Evan can test and provide feedback</li>
		</ul>
	</li>

	<li class="mt-3">
		<h6>Final implementation -&gt; polished PR with docs and tests</h6>
		<ul>
			<li>Tests tests tests. Write them as soon as stage 3 is approved.</li>
			<li>Work with tech staff to polish final version</li>
		</ul>
	</li>

	<li class="mt-3">
		<h6>Technical writeup</h6>
		<ul>
			<li>Here's what we did, and how we did it.</li>
			<li>Prepare to present your work to the rest of the lab.</li>
		</ul>
	</li>

</ol>




<h3>Schedule</h3>
<table class='table'>
<thead>
	<tr>
		<th>Week(s)</th>
		<th>Dates</th>
		<th>Sprint</th>
		<th>Length</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>
			1
		</td>
		<td>
			Feb 3 - Feb 7
		</td>
		<td>
			Introduction
		</td>
		<td>
			1 week
		</td>
	</tr>
	<tr>
		<td>
			2-4
		</td>
		<td>
			Feb 10 - Feb 28
		</td>
		<td>
			Sprint 1
		</td>
		<td>
			3 weeks
		</td>
	</tr>
	<tr>
		<td>
			5-7
		</td>
		<td>
			March 2 - March 20
		</td>
		<td>
			Sprint 2
		</td>
		<td>
			3 weeks
		</td>
	</tr>
	<tr>
		<td class="text-center" colspan=4>
			SPRING BREAK
		</td>
	</tr>
	<tr>
		<td>
			8-11
		</td>
		<td>
			March 30 - April 24
		</td>
		<td>
			Sprint 3
		</td>
		<td>
			4 weeks
		</td>
	</tr>
	<tr>
		<td>
			12-13
		</td>
		<td>
			April 27 - May 8
		</td>
		<td>
			Wrap-up and stretch goals
		</td>
		<td>
			2 weeks
		</td>
	</tr>
</tbody>
</table>

<h3>What should I do now?</h3>
<p>Before Friday 2/7:</p>
<ul>
	<li>
		Familiarize yourself with <a href="https://www.edx.org/course/democracy-and-development-perspectives-from-afri-2">the existing course</a>, by going through Week 1's materials. Pay particular attention to the existing interactive components (basically -- the quizzes!), and imagine how games, interactive visualizations and simulations might improve them.
	</li>

	<li>Play with <a href="https://democracy-africa.dhmit.xyz">the existing prototypes</a>, with a particular eye to how we might further gamify these.</li>

	<li><a href="http://democracy-africa.dhmit.xyz/map_quiz/">MAP QUIZ</a>.</li>
</ul>

<h3>Technical Resources</h3>
<p>Ryaan will post after Friday. No hacking until you've written a proposal!</p>


<h3>Inspiration</h3>
<p>Games, maps, data visualizations that you should check out and study for ideas. If you know one, let Ryaan know, and he'll add it here!</p>

<ul>
    <li>
    <a href="https://worldmap.harvard.edu/africamap/">
    AfricaMap
    </a>
    </li>

    <li>
    <a href="https://www.technologyreview.com/s/613508/ai-fairer-than-judge-criminal-risk-assessment-algorithm/">
    Can you make AI fairer than a judge? Play our courtroom algorithm game
    </a>
    </li>

    <li>
    <a href="https://wazimap.co.za/profiles/municipality-NMA-nelson-mandela-bay/">
    Wazimap
    </a>
    </li>

    <li>
    <a href="https://dsl.richmond.edu/panorama/congress/">
    Electing the House of Representatives
    </a>
    </li>

    <li>
    <a href="https://dsl.richmond.edu/panorama/redlining/">
    Mapping Inequality
    </a>
    </li>

    <li>
    <a href="https://cartographers-nk.wonyoung.so/">
    Cartographers of North Korea
    </a>
    </li>
</ul>
