---
layout: layouts/base
meta_title: 'dhmit UROP guide | Installing and Setting Up Git'
title: 'Installing and Setting Up Git'
---

<p>We will use Git to work together on our shared codebase. Git is a version-control system that allows us to collaborate on code, track our changes, and merge our own changes with others'.</p>

<p>GitHub is a popular code repository hosting service. We will use GitHub to host our code, make pull requests, and track issues.</p>

<p>We'll use GitHub Desktop, an app that provides a GUI to the most common Git operations, for most of our source control needs in this lab. We'll also make sure you have a command line version of Git installed, as well as Atom, a text editor that we'll be using to resolve merge conflicts.</p>

<p>If you are unfamiliar with Git or GitHub, please take a moment to read <a href="https://guides.github.com/introduction/flow/">Understanding the GitHub flow</a>.</p>


<h2>Install GitHub Desktop</h2>
<p>Download and install <a href="https://desktop.github.com">GitHub Desktop</a>.</p>

<p>Once installed, click "Sign in to GitHub.com", follow the directions to sign in, and then quit the application.</p>

<h2>Install Atom</h2>
<p>Download and install <a href="https://atom.io">Atom</a>.


<h2>Install git command line tools</h2>
<p>If you are on Windows, whether or not you know you have Git installed at the command line, skip ahead to <a href="#install_git">Install Git</a>, as we need to make sure you have a few options set correctly in your installation.</p>
<p>If you're on macOS, open the terminal and enter the following command to check whether Git is installed:</p>
<p><kbd>git --version</kbd></p>


<p>If you receive output that indicates that <code>git</code> is not a recognized command, it is most likely because Git is not installed. Download the current installer from the <a href="https://git-scm.com">Git website</a>, and continue to the instructions below.

<p>If instead,  you recieve output that says something like <code>git version 2.x.y</code>, (where we don't really mind what x or y are), that means git is installed, and you can skip ahead to <a href="/python">Python</a>.</p>

<h2><a name="install_git">Install git</a></h2>
<p>If you're on macOS, run the installer and skip ahead to <a href="/python">Python</a>.</p>

<p>If you're on Windows, follow the instructions below.</p>

<p>Launch the installer and accept the license information displayed at its start. There are a lot of installation options for git, and we're going to change some from the defaults and leave others alone. Please follow along carefully.
</p>

<div class="row">
    <div class="col-lg-4">
        <p>You will now see a screen showing several installation options. Make sure that you have all of these boxes checked.</p>
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt="" src="/assets/images/git/git_install_options.png" /></p>
    </div>
</div>


<hr class="d-lg-none">
<div class="row">
    <div class="col-lg-4">
        <p>Select Atom as your default editor for Git.</p>
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt="" src="/assets/images/git/atom.png" /></p>
    </div>
</div>

<hr class="d-lg-none">
<div class="row">
    <div class="col-lg-4">
        <p>Select the last option here, which adds the Git command line tools to your PATH for the Command Prompt.</p>
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt="" src="/assets/images/git/git_path.png" /></p>
    </div>
</div>

<hr class="d-lg-none">
<div class="row">
    <div class="col-lg-4">
        <p>On the next screen, make sure that "Use the OpenSSL Library" option is checked, and move on to the next page.</p>
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt="" src="/assets/images/git/openssl.png" /></p>
    </div>
</div>

<hr class="d-lg-none">
<div class="row">
    <div class="col-lg-4">
        <p>Select the following line ending conversions.</p>
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt="" src="/assets/images/git/git_line_ending.png" /></p>
    </div>
</div>

<hr class="d-lg-none">
<div class="row">
    <div class="col-lg-4">
        <p>After this step, you should select the default terminal emulator that Git Bash uses. Please ensure that you are using MinTTY.</p>
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt="" src="/assets/images/git/git_terminal.png" /></p>
    </div>
</div>


<hr class="d-lg-none">
<div class="row">
    <div class="col-lg-4">
        <p>The following step should be left with default values.</p>
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt="" src="/assets/images/git/git_pull_default.png" /></p>
    </div>
</div>

<hr class="d-lg-none">
<div class="row">
    <div class="col-lg-4">
        <p>The following step should be left with default values.</p>
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt="" src="/assets/images/git/git_credential_manager.png" /></p>
    </div>
</div>

<hr class="d-lg-none">
<div class="row">
    <div class="col-lg-4">
        <p>The following step should be left with default values.</p>
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt="" src="/assets/images/git/git_extra_options.png" /></p>
    </div>
</div>

<hr class="d-lg-none">
<div class="row">
    <div class="col-lg-4">
        <p>Nope.</p>
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt="" src="/assets/images/git/git_experimental_options.png" /></p>
    </div>
</div>

<p>Run the installer, and then move on to installing Python.</p>



<a href="/intro" class="btn btn-outline-primary float-left col-5 col-md-3">&larr; Intro</a>
<a href="/python" class="btn btn-outline-primary float-right col-5 col-md-3">Python &rarr;</a>