---
layout: layouts/base
meta_title: 'dhmit UROP guide | Home'
title: 'MIT Digital Humanities: UROP site'
---

<section>
    <p>Welcome to the Digital Humanties lab UROP site! The purpose of this site is to provide the information you'll need to get setup and work on projects in the lab.</p>
</section>

<section>
    <h2>Summer 2021</h2>
    <h3>Gender Analysis Toolkit and introduction to Sonification Techniques</h3>
    <ul>
        <li><a href="/gatk">Gender Analysis Toolkit project installation guide</a></li>
        <li><a href="/sonification">Sonification project installation guide</a></li>
    </ul>
</section>

<section>
    <h2>Spring 2021</h2>
    <h3>Machine Learning Applications for Remote Language Instruction</h3>
    <ul>
        <li><a href="/lang-learn">Project installation guide</a></li>
        <li><a href="https://drive.google.com/drive/folders/1msxPjC872yDhbiqtqzTNcAzK05MprTRH?usp=sharing" target="_blank">Google Drive folder</a></li>
    </ul>
</section>

<section>
    <h2>Fall 2020</h2>
    <h3>This was Paris in 1970</h3>
    <ul>
        <li><a href="/paris-project-installation">Project installation guide</a></li>
        <li><a href="https://drive.google.com/drive/folders/1ruU9_HVEnWH1OitbqkMzqTFE4sqL4AD0?usp=sharing" target="_blank">Google Drive folder</a></li>
    </ul>
</section>

<section>
    <h2>Spring 2020</h2>
    <h3>Gamifying "Democracy and Development: Perspectives from Africa"</h3>
    <ul>
        <li><a href="/democracy-africa">Sprint schedule</a></li>
    </ul>
</section>

<section>
    <h2>Fall 2019</h2>
    <h3>The Reading Redux</h3>
    <ul>
        <li><a href="/rereading">Project installation guide</a></li>
    </ul>
</section>