---
layout: layouts/base
meta_title: 'dhmit UROP guide | Home'
title: 'Digital Humanities Lab UROP Guide'
---

<section>
  <p>Welcome to the DH Lab UROP! The purpose of this site is to provide the information you'll need
    to get set up and working on projects in the lab.</p>
  <p>If you have not yet completed the Technical Onboarding guide, head over to the <a
      href="/intro">Intro</a> and get started there.</p>
</section>

<section>
  <iframe
      src="https://calendar.google.com/calendar/embed?src=c_glaetg7kp9madnlc8lh4mrm90g%40group.calendar.google.com&ctz=America%2FNew_York"
      style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</section>

<section>
  <h2>Fall 2021</h2>
  <h3>Sonification Toolkit</h3>
  <ul>
    <li><a href="/sonification">Sonification project installation guide</a></li>
  </ul>
  <h3>Emerging Technologies for Language Learning</h3>
  <ul>
    <li><a href="/lang-learn">Project installation guide</a></li>
    <li><a
        href="https://drive.google.com/drive/folders/1msxPjC872yDhbiqtqzTNcAzK05MprTRH?usp=sharing"
        target="_blank">Google Drive folder</a></li>
  </ul>
  <h3>This was Paris in 1970</h3>
  <ul>
    <li><a href="/paris-project-installation">Project installation guide</a></li>
    <li><a
        href="https://drive.google.com/drive/folders/1ruU9_HVEnWH1OitbqkMzqTFE4sqL4AD0?usp=sharing"
        target="_blank">Google Drive folder</a></li>
  </ul>
  <h3>Gender Analysis Toolkit and introduction to Sonification Toolkit</h3>
  <ul>
    <li><a href="/gatk">Gender Analysis Toolkit project installation guide</a></li>
    <li><a href="/gatk-web">Gender Analysis Web project installation guide</a></li>
    <li><a href="/sonification-summer-21">Sonification project installation guide</a></li>
  </ul>
</section>

<section>
  <h2>Summer 2021</h2>
  <h3>Gender Analysis Toolkit and introduction to Sonification Toolkit</h3>
  <ul>
    <li><a href="/gatk">Gender Analysis Toolkit project installation guide</a></li>
    <li><a href="/gatk-web">Gender Analysis Web project installation guide</a></li>
    <li><a href="/sonification-summer-21">Sonification project installation guide</a></li>
  </ul>
</section>

<section>
  <h2>Spring 2021</h2>
  <h3>Emerging Technologies for Language Learning</h3>
  <ul>
    <li><a href="/lang-learn">Project installation guide</a></li>
    <li><a
        href="https://drive.google.com/drive/folders/1msxPjC872yDhbiqtqzTNcAzK05MprTRH?usp=sharing"
        target="_blank">Google Drive folder</a></li>
  </ul>
</section>

<section>
  <h2>Fall 2020</h2>
  <h3>This was Paris in 1970</h3>
  <ul>
    <li><a href="/paris-project-installation">Project installation guide</a></li>
    <li><a
        href="https://drive.google.com/drive/folders/1ruU9_HVEnWH1OitbqkMzqTFE4sqL4AD0?usp=sharing"
        target="_blank">Google Drive folder</a></li>
  </ul>
</section>

<section>
  <h2>Spring 2020</h2>
  <h3>Gamifying "Democracy and Development: Perspectives from Africa"</h3>
  <ul>
    <li><a href="/democracy-africa">Sprint schedule</a></li>
  </ul>
</section>

<section>
  <h2>Fall 2019</h2>
  <h3>The Reading Redux</h3>
  <ul>
    <li><a href="/rereading">Project installation guide</a></li>
  </ul>
</section>
