---
layout: layouts/base
meta_title: 'dhmit UROP guide | Installing DH Lab Tools'
title: 'Technical Onboarding Guide - Introduction'
---

<p>This guide will walk you through the process of setting up the tools that we use in the DH Lab to do our work.</p>

<p>
This might be your first experience writing software on a large team, which requires a set of practices to allow us to work towards a common goal without stepping on each others toes.

By the end of this guide, you should be ready to contribute code to our shared project, to create issues in our shared bug tracker, and to communicate with other members on the team.
</p>

<p>There are a lot of tools available to help you write and maintain code. We're going to ask you to use a specific set of tools for all of your labwork. This is so that if something goes wrong, we can help, and so that you can help each other as you gain mastery of these tools.</p>

<h2>Operating System</h2>
<p>
We support macOS 10.15, 11, and 12 (i.e., Catalina, Big Sur, and Monterey), Windows 10, and Ubuntu 20.04.</p>

<p>
If you're on some other Linux distro, we hope you know what you're doing, and we wish you good luck. (Okay, seriously: if you're on some niche Linux we haven't heard of, it's going to be hard for us to support you, but we will try.)
</p>

<h2>A note about the command line</h2>
<p>
Moving forward, whenever we write 'terminal' or 'command line' on macOS we mean Terminal.app (found in your Applications folder), on Windows the Command Prompt (Start Menu > Windows System, or just start typing 'Command Prompt' once you open the Start Menu), and on Ubuntu konsole.
</p>
<p>
Once we install Visual Studio Code, we'll specify when to use the terminal inside that application.
</p>

<h2>A note for returning UROPs (updated Fall 2022)</h2>
<p>
<strong>Things have changed!</strong>
</p>

<p>
Starting Fall 2022, we're using VS Code as our lab IDE, not PyCharm. If you are more comfortable continuing to use PyCharm, that's fine, but we suggest switching, as we've been having a nicer time with VS Code. This will also help you support our newer UROPs.
</p>

<p>
You'll also need to update Python, Node.js etc., so please do follow through the whole guide.
</p>

<a href="/vscode" class="btn btn-outline-primary float-right col-5">Next: VS Code &rarr;</a>
