---
layout: layouts/base
meta_title: 'dhmit UROP guide | Installing DH Lab Tools'
title: 'Installing DH Lab Tools'
---

<p>This document will walk you through the process of setting up the tools that we use in the DH Lab to do our work.</p>

<p>
This might be your first experience writing software on a large team, which requires a set of practices to allow us to work towards a common goal without stepping on each others toes.



By the end of this guide, you should be ready to contribute code to our shared project, to create issues in our shared bug tracker, and to communicate with other members on the team.
</p>

<p>There are a lot of tools available to help you write and maintain code. We're going to ask you to use a specific set of tools for all of your labwork. This is so that if something goes wrong, we can help, and so that you can help each other as you gain mastery of these tools.</p>

<h2>Operating System</h2>
<p>
We support macOS 10.15+ and Windows 10. We love Linux, but we do not support it for labwork, except for the use of Ubuntu on our web servers, as some of our tools are not supported on that platform.
</p>

<h2>A note about the command line</h2>
<p>
Moving forward, whenever we write 'terminal' or 'command line' on macOS we mean Terminal.app (found in your Applications folder) and on Windows the Command Prompt (Start Menu > Windows System, or just start typing 'Command Prompt' once you open the Start Menu). Once we install PyCharm, we'll specify when to use the terminal inside that application.
</p>

<h2>A note for returning UROPs (updated Fall 2021)</h2>
<p>
Things have changed <em>slightly</em> in places: this guide will ask you to install the latest versions of software that you might have installed already for past DH projects. Please follow along thoroughly. We've tried to highlight required updates for returning UROPs wherever possible, but no promises there. Your safest bet is to go through the whole thing again.
</p>



<a href="/communication" class="btn btn-outline-primary float-right col-5">Next: Communication &rarr;</a>
