---
layout: layouts/base
meta_title: 'dhmit UROP guide | Node.js and npm'
title: 'Node.js and npm'
---

<p>Node.js is a JavaScript runtime environment, and npm is a package manager for Node projects. We'll use both as tools for building the frontend of our web applications.</p>


<p><em>Spring 2023</em>: Only the French Playing Cards team needs npm and node.</p>

<p><em>Returning UROPs</em>: You probably need to update Node. Run the installer as below.</p>


<h2>Check if you have Node and npm installed</h2>
<p>Open your terminal and run
<kbd>node --version</kbd></p>
<p>If you get an error, or if the version you have installed is &lt; 18.14, continue below to <a href="#installing_node">Installing Node.js and npm</a></p>
<p>If you have Node &gt;= 18.14, run
<kbd>npm --version</kbd></p>
<p>If you get an error, or if the version you have installed is &lt; 9.3, continue below to <a href="#installing_node">Installing Node.js and npm</a>.</p>

<h2><a name="installing_node">Installing Node.js and npm<a></h2>
<p>Download the Node.js installer from the <a href="https://nodejs.org">Node Website</a>. </p>
        <p>Make sure that you download the LTS (Long Term Support) version (marked "Recommended For Most Users"), <em>not</em> the Current version, which is potentially unstable.</p>


<hr class="d-lg-none">

<p>Run the installer; the default options are all fine.</p>

<div class="row">
    <div class="col-lg-4">
        <p>
        On Windows, the Node.js installer will ask if you want to install Tools for Native Modules. <em>Do not</em> do so. (This option installs a whole bunch of extra stuff that will later cause you a headache.)
        </p>
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt=""
                src="/assets/images/node_native_modules.png" /></p>
    </div>
</div>


<p>After the installer has finished, verify that everything was installed properly by opening your terminal and once again entering the following commands:</p>

<p><kbd>node --version</kbd></p>

and

<p><kbd>npm --version</kbd></p>

<p>If both of these commands run without errors and return a version number (node &gt;= 18.14, npm &gt;= 9.3), then you have successfully installed Node.js and npm.</p>


<h2>That's it for tools!</h2>
<p>
That's all the software you'll need to do your work for the DH Lab. Next, we'll move on to installing this semester's project.
</p>



<a href="/pycharm" class="btn btn-outline-primary float-left col-5 col-md-3">&larr; PyCharm</a>
<a href="/" class="btn btn-outline-primary float-right col-5 col-md-3">Back to home &rarr;</a>

