---
layout: layouts/base
meta_title: 'dhmit UROP guide | Python'
title: 'Python'
---

<p>This document will walk you through the process of installing Python 3.11. Please read the beginning of this guide
  <strong>even if</strong> you already have Python installed, as we need to ensure that you're using a version of Python
  that's compatible with the lab's development tools. </p>

<p>
  <em>Returning UROPs</em>: Note that the version of Python used by the lab is now 3.11. Following the instructions to install below will update your Python version if you’re on an older version. You might need to reinstall your virtual environment. If you need help doing that, ask a peer who knows how or a member of staff.
</p>

<h2>Check if Python is Installed</h2>
<p>Open your terminal and run the following command</p>


<div class="row">
  <div class="col-2">macOS</div>
  <div class="col">
    <kbd>
      python3 --version
    </kbd>
  </div>
</div>

<div class="row">
  <div class="col-2">Windows</div>
  <div class="col">
    <kbd>
      python --version
    </kbd>
  </div>
</div>
<br>


<p>If you receive an error or your version of Python is not 3.11.X (where we don't care what X is), skip ahead to <a href="#install_python">Install
  Python</a>.</p>
<p>If you have Python 3.11 already installed, try the following command in the terminal:</p>


<div class="row">
  <div class="col-2">macOS</div>
  <div class="col">
    <kbd>
      which python3
    </kbd>
  </div>
</div>

<div class="row">
  <div class="col-2">Windows</div>
  <div class="col">
    <kbd>
      which python
    </kbd>
  </div>
</div>
<br>

<p>This will output the location of your Python interpreter. If the output contains any reference to 'Anaconda'&mdash;a
  popular Python distribution that you might be using in some of your classes&mdash;please follow the instructions below
  to <a href="#install_python">Install Python</a>.</p>

<p>macOS users should make a habit of typing <kbd>python3</kbd> whenever they need to call Python at the command line,
whereas Windows users can simply type <kbd>python</kbd>. (This is for legacy reasons: macOS shipped with Python 2.7 for a long time.)</p>

<h2><a name="install_python">Install Python<a></h2>

<p>Visit the <a href="https://www.python.org/downloads/">Python download page</a>, download, and install Python 3.11
  for your operating system.</p>


<div class="row">
  <div class="col">
    <p>On Windows, make sure that you’ve selected the <b><u>64-bit</u></b> Python installer and click
        <code>Add Python to Path</code> on the first screen.</p>
    <p>On macOS, when installation is complete, the Python 3.11 directory will open in your Finder. Double click the "Install Certificates.command" file in this directory to install required security certificates.</p>
  </div>
</div>

<p>Once Python is installed, open your terminal and run:</p>

<div class="row">
  <div class="col-2">macOS</div>
  <div class="col">
    <kbd>
      python3
    </kbd>
  </div>
</div>

<div class="row">
  <div class="col-2">Windows</div>
  <div class="col">
    <kbd>
      python
    </kbd>
  </div>
</div>
<br>
<p>This will start the Python Shell, which should report Python version 3.11.X. Try running some code, if you like, and
  then quit by running <kbd>quit()</kbd> in the shell.</p>
<p>Finally, open the terminal and run the following command:</p>

<div class="row">
  <div class="col-2">macOS</div>
  <div class="col">
    <kbd>
      which python3
    </kbd>
  </div>
</div>

<div class="row">
  <div class="col-2">Windows</div>
  <div class="col">
    <kbd>
      which python
    </kbd>
  </div>
</div>
<br>


<p>This tells you where on your hard drive your Python interpreter is installed. Please take note of this path; we'll
  use it later.</p>
<p>If at an earlier stage you discovered that you had Python installed via Anaconda and this path <em>still</em>
references Anaconda, try running this command:
</p>

<p>
<code>conda config --set auto_activate_base false</code>
</p>
<p>
Restart your terminal and try again. If it <em><strong>STILL</strong></em> references Anaconda, find a team lead or member of staff to help you exorcise your machine.
</p>

<a href="/git" class="btn btn-outline-primary float-left col-5 col-md-3">&larr; Git</a>
<a href="/node-and-npm" class="btn btn-outline-primary float-right col-5 col-md-3">Node &rarr;</a>
