---
layout: layouts/base
meta_title: 'dhmit UROP guide | VS Code Installation'
title: 'Visual Studio Code Installation'
---

<p>In the Digital Humanities Lab, we'll be using the Visual Studio Code IDE made by Microsoft. An IDE (Integrated Development Environment) is a tool that allows you to write, run, and debug code all in one place. By standardizing the IDE across the lab, we hope to facilitate collaboration and standardize support.</p>

<p>
VS Code is pretty popular these days, so if you haven't used it before, it's a good chance to learn a tool you might end up using elsewhere (internships, jobs, etc.).
</p>

<h2>Installation</h2>
<p>Go to the <a href="https://code.visualstudio.com/">VS Code website</a>, download the appropriate installer, and install VS Code.</p>

<p>Note that on macOS, there's no installer: it just unzips a .app bundle. Drag this into your "Applications" folder.</p>

<p>Install the <a href="https://marketplace.visualstudio.com/items?itemName=ms-python.python">Python extension for VS Code from the VS Code Marketplace</a>.</p>

<h2>Intro Stuff</h2>
<p>
If you've never used VS Code before it's worth watching some of their <a href="https://code.visualstudio.com/docs/getstarted/introvideos">intro videos</a> or skimming the <a href="https://code.visualstudio.com/docs">user guide</a>.
</p>

<p>
This will save you a lot of flailing around and show you how to do things quickly. You are going to spend <em>a lot</em> of time in a code editor, so it's worth investing a little energy in learning how yours works and how to set it up the way you like it.
</p>

<h2>Okay, but do all that later</h2>
<p>
We need to install a few other tools before we <em>use</em> VS Code, so close it up and move along to the next section of this guide. You can mess with your keyboard shortcuts and color scheme later, too.
</p>

<a href="/intro" class="btn btn-outline-primary float-left col-5 col-md-3">&larr; Intro</a>
<a href="/git" class="btn btn-outline-primary float-right col-5 col-md-3">git &rarr;</a>
