html {
    font-size: 16px;
}

.container-fluid {
    max-width: 1200px;
    float: left;
}

.numeral {
    font-size: .75rem;
}

.nav-item {
    white-space: nowrap;
}

.sidebar {
    margin-bottom: 2rem;
    padding: 1rem;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}

.global-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    max-width: 900px;
}

img {
    max-width: 100%;
}

section {
    margin-bottom: 2rem;
}

.schedule-wrapper {
    margin-bottom: 2rem;
    max-width: 100%;
    overflow-x: auto;
}

.schedule {
    border-collapse: collapse;
    font-size: 0.9rem;
    min-width: 500px;
    table-layout: fixed;
    width: 100%;
}

.schedule td,
.schedule th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    vertical-align: top;
}

.schedule th {
    background-color: #f7f7f7;
    text-align: center;
}

.schedule strong {
    background-color: #f7f7f7;
    display: block;
    font-weight: bold;
    margin: -0.5rem -0.5rem 0.5rem -0.5rem;
    padding: 0.25rem;
    text-align: center;
}

.schedule-row--holiday {
    background-color: #edaba6;
}

@media (min-width: 768px) {
    .global-wrapper {
        flex-direction: row;
    }
    .main {
        padding: 1rem;
    }
    .sidebar {
        margin-bottom: 0;
        padding: 1.5rem 2rem;
    }
    section {
        margin-bottom: 3rem;
    }
}