.container-fluid {
    max-width: 1200px;
    float: left;
}

.img-fluid {
    max-width: 512px;
}

.numeral {
    font-size: .75rem;
}

.nav-link {
    white-space: nowrap;
}

.sidebar-sticky {
}

h2 {
    margin-top: 1em;

}
