{% extends 'base.html' %}
{% block title %}Gamifying Democracy and Development: Perspectives from Africa{% endblock %}
{% block content %}
<h2>What are we doing?</h2>
<p>We want to challenge each of Evan's online students to become an “African Democracy Mtaalam (expert)” by developing...</p>
<h3>Three sets of expertise</h3>
<h3>Knowledge</h3>
<ul>
<li>Understanding historical legacies, geography of democratic development, and key theories about similarities and differences across African countries.</li>
</ul>
<h3>Ideas</h3>
<ul>
<li>How to distinguish and measure core ideas about democracy and development, particularly in the African context. Developing a more sophisticated language and lens for analyzing politics.</li>
</ul>
<h3>Strategies</h3>
<ul>
<li>From the perspective of different actors within a polity, what actions should they take to achieve certain goals, especially given the other actors and institutions they are likely to confront in various African contexts? Recognize that there are frequently trade-offs, and that especially in diverse polities, few options leave everyone better off or satisfied!</li>
</ul>
<h2>How will we be doing that?</h2>
<h3>SPRINTS!</h3>
<p>What is a sprint? A short, time-boxed period where a team works to complete a set amount of work.</p>
<h3>TEAMS!</h3>
<p>Each sprint, we'll divide you into a team of 3-5 UROPs. You'll find out your first sprint teams tomorrow.</p>
<p>Each team will work on one of these topics in the first sprint:
- Creation of the “African Democracy Mtaalam” scoreboard, badges, and user system
- Visualization of how the slave trade affected current levels of interpersonal trust
- Further development of the budget prototype: real models, more intuitive visualization
- Gamification of the heat map prototype - possibily by combining with map quiz or simple Q&amp;A
- Geographic campaign simulation: based on real survey data, how should a politican allocate campaign resources?</p>
<h3>STAGES -&gt; DELIVERABLES! (Five of them!)</h3>
<ol>
<li>Brainstorming -&gt; Proposal</li>
</ol>
<p>You'll begin by brainstorming a new feature -- for the first sprint, the rough outline of your feature will be assigned to your team -- and your brainstorm will culminate in drafting a proposal of approx 500-600 words.</p>
<p>Your proposal will contain:
    - the pedagogical objective for your feature
    - the user story for your feature</p>
<p>You'll upload your proposal to this Google Drive folder, where Evan will make comments, give feedback, and either approve or request changes. Erica will also make comments at this stage, particularly focusing on helping you improve the quality of the prose.</p>
<ol>
<li>Whiteboard and paper UX/technical brainstorming -&gt; tech/design spec on GitHub issues</li>
<li>Draw the interface you imagine</li>
<li>Spec out all of the frontend React components</li>
<li>Spec out all of the backend functionality</li>
<li>
<p>Spec out any API calls and data formats</p>
</li>
<li>
<p>Write it all up in a GitHub issue, as a checklist, and assign it to your whole team</p>
</li>
<li>@dhmit/staff to request a review of your spec (or just find someone in person!)</li>
<li>Start making sub issues</li>
</ol>
<p>Here's a great example
https://github.com/dhmit/democracy_africa/issues/3</p>
<ol>
<li>
<p>Rapid prototyping -&gt; initial PR</p>
</li>
<li>
<p>Final implementation -&gt; polished PR with docs and tests</p>
</li>
<li>
<p>Technical writeup</p>
</li>
</ol>
<h3>SCHEDULE!</h3>
<p>Week 1 (2/3-7): intro
Weeks 2-4 (2/10-28): sprint 1 (3 weeks)
Weeks 5-7 (3/2-3/20): sprint 2 (3 weeks)</p>
<p>[spring break!]</p>
<p>Weeks 8-11 (3/30-4/24): sprint 3 (4 weeks)
Weeks 12-13 (4/27-5/8): wrap-up and stretch goals</p>
<h3>WHAT SHOULD I DO NOW?!</h3>
<p>Between now and your Friday session, familiarize yourself with <a href="https://www.edx.org/course/democracy-and-development-perspectives-from-afri-2">the existing course</a>, by going through Week 1's materials. Pay particular attention to the existing interactive components (basically -- the quizzes!), and imagine how games, interactive visualizations and simulations might improve them.</p>
<p>Check out the existing prototype work at https://democracy-africa.dhmit.xyz, with a particular eye to how we might further gamify these.</p>
<h3>Technical Resources</h3>
<p>Ryaan will post after Friday. No hacking until you've written a proposal!</p>
{% endblock %}