{% extends 'base.html' %}
{% block title %}Installing and Setting Up Git{% endblock %}
<p>We will use Git to work together on our shared codebase. Git is version-control open-source software that allows us to work on code individually while we test, document, and prepare new functions and features. Once we are ready to share the new additions to the larger project, we can open a pull request to receive feedback and modify our code until it is accepted and incorporated into the larger project's codebase.</p>
<p>GitHub is a popular code repository web-based hosting service that uses Git to help developers collaborate on code. It offers a desktop program to help make Git more intuitive.</p>
<h2>Install Git</h2>
<p>Open up a terminal window and type the following command to check whether Git is installed:</p>
<p><code>git --version</code></p>
<p>If you receive output that indicates that <code>git</code> is not a recognized command, it is most likely because Git is not installed. If instead your git version is 2.20+, skip ahead to <strong>install atom</strong>.</p>
<p>If you have determined that Git is not installed on your computer, you can download the installer for the current version from <a href="https://git-scm.com">Git's website</a>.</p>
<p><img alt="" src="./images/git/git_site.png" /></p>
<h3>Windows Users</h3>
<p>Once your computer has finished downloading the file, launch the installer and accept the license information displayed at its start.</p>
<p>You will now see a screen showing several installation options. Make sure that you have all of these boxes checked:</p>
<p><img alt="" src="./images/git/git_install_options.png" /></p>
<p>Once you have checked all of the boxes displayed in the picture, hit "Next" to move on to the next step.</p>
<p><img alt="" src="./images/git/vim_default.png" /></p>
<p>Git allows you to designate a default text editor for handling merge conflicts and other changes that you will need to make to your code. We will be using Atom for this, but will change the settings at a later point. For now, leave the default editor as Vim.</p>
<p>The next screen allows you to set your PATH environment, which is what allows you to use Git from the command line. Make sure that the last option is checked.</p>
<p><img alt="" src="./images/git/git_path.png" /></p>
<p>On the next screen, make sure that "Use the OpenSSL Library" option is checked, and move on to the next page.</p>
<p><img alt="" src="./images/git/openssl.png" /></p>
<p>Make sure that check the top option ("Checkout Windows-style"), as these settings will help tell Git what type of computer you are using, and will allow it to convert files as necessary. This lets other people view your code no matter what operating system they are on.</p>
<p><img alt="" src="./images/git/git_line_ending.png" /></p>
<p>After this step, you should select the default terminal emulator that Git Bash uses. Please ensure that you are using MinTTY.</p>
<p><img alt="" src="./images/git/git_terminal.png" /></p>
<p>The following step should be left as its defaults:</p>
<p><img alt="" src="./images/git/git_options.png" /></p>
<p>If you are given the option to install experimental options on the next page, please do <strong>not</strong> select any of them at the moment. Often, they are not yet fully tested and can cause issues that are best to avoid.</p>
<p>Click <code>Install</code> to finish installing Git onto your computer. Once it is finished, you can move on to the <strong>Create a GitHub Account</strong> section.</p>
<h3>Mac Users</h3>
<p>After you have downloaded the installer file from <a href="https://git-scm.com">Git's website</a>, run the file. If you get an error saying that the file is from an unidentified developer, you should hold "Control" while clicking on the file, and then select "Open".</p>
<p><img alt="" src="./images/git/mac_force_open.png" /></p>
<p>You should now get another screen with a ".pkg" file. Double click on it and follow the remaining steps. You will probably need to enter your password at some point in the process.</p>
<p>Git should now be installed on your computer. Once you are finished, you can move on to the <strong>Create a GitHub Account</strong> section.</p>
<p><img alt="" src="./images/git/git_dmg.png" /></p>
<h2>Install Atom</h2>
<p>Atom is a text editor created by GitHub that allows you to make quick edits to code as well as manage several Git commands directly from the editor.</p>
<p>When <a href="https://atom.io">Installing Atom</a>, make sure to install the appropriate version for your machine and follow the installation steps.</p>
<h2>Cloning the Repository</h2>
<p>Now that you are set up with Atom and GitHub, you can now clone the repository and download it onto your computer.</p>
<p>First you need to visit the GitHub page for <a href="https://github.com/dhmit/prompted_readings">Prompted Readings</a>, the DH Lab's current project.</p>
<p><img alt="" src="./images/prompted_readings.png" /></p>
<p>Click on the green "Clone or Download" button, and then copy the url to your clipboard.</p>
<p><img alt="" src="./images/clipboard_copy.png" /></p>
<p>Now, go to your Atom editor and go to <code>View &gt; Toggle Command Palette</code></p>
<p><img alt="" src="./images/toggle_palette.png" /></p>
<p>In the search-box that appears, look for <code>GitHub: Clone</code></p>
<p><img alt="" src="./images/command_palette.png" /></p>
<p>Now, paste the url from GitHub into the <code>Clone from</code> field.</p>
<p><img alt="" src="./images/clone_prompted.png" /></p>
<p>You can choose any directory that you would like for the project, but it is recommended to use the default so that all of your future projects can be in the same <code>github</code> directory.</p>
<p>After the project finishes downloading, you should now have a "Project" pane with a file tree. These are the files that we will be working with during the duration of the project.</p>
<h2>Sync with GitHub</h2>
<p>Atom is incredibly powerful because it is heavily integrated with GitHub, but first it is necessary to sign in to GitHub to allow it to perform some of the necessary commands.</p>
<p>After the project is successfully loaded onto your computer, click on the GitHub logo in the bottom-right of Atom</p>
<p><img alt="" src="./images/github_button.png" /></p>
<p>You should see a screen that prompts you to login to GitHub.</p>
<p><img alt="" src="./images/login.png" /></p>
<p>The process will require you to login from a browser in order to retrieve a token specific to your account. Once you have the token, paste it into the prompt and hit <code>Login</code>.</p>
<p>After completing this step, Git, Atom, and GitHub should all be properly configured on your device, and you can move on to the next part of the tutorial.</p>