{% extends 'base.html' %}
{% block title %}NPM Setup{% endblock %}
{% block content %}
<p>npm is a manager that will handle almost every package that we will use with our Javascript code. Because it is packaged with Node.js, you will need to install both of these together.</p>
<h2>Installing Node.js</h2>
<p>The first thing that you need to do is download the Node.js installer from the <a href="https://nodejs.org">Node Website</a>. There are two stable releases, but you want to make sure that you download the most current version.</p>
<p><img class="img-fluid" alt="" src="./images/node.png" /></p>
<p>While the setup process is different for each operating system, all of the defaults are desired for each of them.</p>
<p>Note: On Windows, Node.js will ask to install Chocolatey, which should not be done at this time.</p>
<p>After the installer has finished, verify that everything was installed properly by opening your terminal and entering the following commands:</p>
<p><code>$ node -v
$ npm -v</code></p>
<p>If both of these commands run without errors and return a version number, then you have successfully installed Node.js and npm.</p>
<h2>Preparing npm</h2>
<p>Once npm is installed, you will be able to download the necessary requirements for the repository.</p>
<p>Open PyCharm and go to the <code>prompted_readings</code> Repository.</p>
<p>At the bottom left of the PyCharm window, there should be a button labelled <code>Terminal</code>, which will open a terminal window inside of the IDE.</p>
<p><img class="img-fluid" alt="" src="./images/find_terminal.png" /></p>
<p>Once it is open, it should function the same as other terminals that you may have used. Note that there is now a (venv) marker at the start of the line - this indicates that we are using the virtual environment that was <a href="3_pycharm_install_setup.html">set up with PyCharm</a>.</p>
<p>In the PyCharm terminal, enter the <code>frontend</code> directory with:</p>
<p><code>$ cd frontend</code></p>
<p>Now that we are in the directory that contains all of our package requirements for our Javascript, we can install everything that you need with the following command:</p>
<p><code>$ npm install</code></p>
<p>After npm indexes and installs the required packages, you will be setup for using and editing all of the frontend code in the repository.</p>
{% endblock %}