{% extends 'base.html' %}
{% block title %}Setting up Prompted Readings{% endblock %}
{% block content %}
<p>Open PyCharm, and select "Open".
<img class="img-fluid" alt="" src="./images/pycharm_init_6.png" /></p>
<p>Select the path to your prompted_readings repo. This will bring up the main PyCharm window with the loaded prompted_readings directory
on the left.</p>
<p>On a Mac, select <code>PyCharm -&gt; Preferences</code>; On Windows, <code>File -&gt; Settings</code>
<img class="img-fluid" alt="" src="./images/pycharm_config_4.png" /></p>
<p>Then, you need to configure your Python interpreter under "Project: prompted_readings"
-&gt; Project Interpreter. Click on the wheel in the top right and select "Add".
<img class="img-fluid" alt="" src="./images/pycharm_config_6.png" /></p>
<p>Select "New Environment". Make sure that the base interpreter is the path that you noted when installing Python.</p>
<p><img class="img-fluid" alt="" src="./images/new_venv.png" /></p>
<p>Leave the location for the interpreter as the default provided by PyCharm.</p>
<p>Apply your changes and exit settings.</p>
<h2>Preparing npm</h2>
<p>Once npm is installed, you will be able to download the necessary requirements for the repository.</p>
<p>Open PyCharm and go to the <code>prompted_readings</code> Repository.</p>
<p>At the bottom left of the PyCharm window, there should be a button labelled <code>Terminal</code>, which will open a terminal window inside of the IDE.</p>
<p><img class="img-fluid" alt="" src="./images/find_terminal.png" /></p>
<p>Once it is open, it should function the same as other terminals that you may have used. Note that there is now a (venv) marker at the start of the line - this indicates that we are using the virtual environment that was <a href="3_pycharm_install_setup.html">set up with PyCharm</a>.</p>
<p>In the PyCharm terminal, enter the <code>frontend</code> directory with:</p>
<p><code>$ cd frontend</code></p>
<p>Now that we are in the directory that contains all of our package requirements for our Javascript, we can install everything that you need with the following command:</p>
<p><code>$ npm install</code></p>
<p>After npm indexes and installs the required packages, you will be setup for using and editing all of the frontend code in the repository.</p>
{% endblock %}