{% extends 'base.html' %}
{% block title %}Windows Workarounds{% endblock %}
{% block content %}
<p>While Windows is a very powerful operating system, it is built using a different architecture from macOS and Linux, causing some conflicts when developing with a Windows OS. Despite this, there are substantial community efforts to mitigate these issues, and everything that will be used in the Digital Humanities Lab is compatible with Windows, or has a relatively easy workaround.</p>
<h2>Bash Terminal</h2>
<p>While Windows has a terminal - Windows PowerShell - it uses proprietary commands and is not very compatible with Unix operating systems. With that said, several terminal emulators are available for Windows that support Bash (the language of choice in macOS and Linux). In fact, there is even one that is packaged with Git which is installed elsewhere in this tutorial. Git-Bash is a terminal that integrates very well with Git, and can even be configured for use with PyCharm.</p>
{% endblock %}