{% extends 'base.html' %}
{% block title %}Communication{% endblock %}
{% block content %}
<p>Communication comes first because without it, we can't get anything done.</p>

<h5>GitHub</h5>
<p>
If you do not already have a GitHub account, <a href="https://github.com/join">create one</a>. Ideally choose a username that makes it easy for others to identify you, and remember that your GitHub account is going to be a part of your professional identity for a long time, so choose wisely.
</p>
<p>
If you provided a GitHub username or link in your UROP application, you should have already received an invitation to join our GitHub organization. Please accept this invite now, if you haven't already.
</p>
<p>
If you haven't received an invite, or didn't previously have an account, email Cole at 
<a href="mailto:nicolelf@mit.edu?subject='Add me to the dhmit GitHub organization'">nicolelf@mit.edu</a> 
with your username and the subject 'Add me to the dhmit GitHub organization', so they can add you to <a href="https://github.com/dhmit/">our organization</a>.</p>
<p>
Even if you already have a GitHub account, you may wish to sign up for the <a href="https://education.github.com/pack">Student Developer Pack.</a>
</p>

<h5>Slack</h5>
<p>
You should have already received an invitation to join the DH Lab Slack workspace.
</p>
<p>
Once you've joined the workspace, send a message on the #random channel, with the title of your favorite book, piece of music, or visual art, so everyone knows how to reach you there.
</p>


<h5>Google Account</h5>
<p>
    We use Google Drive and Google Docs extensively in the lab to collaboratively edit documents. Please email Cole your Google Account username, so we can add you to the DH Lab shared Google Drive folder. If you do not have one, please make one at this time for lab work.
</p>



<h5>Email</h5>
<p>As stated in in the <a href="contract.html">UROP Contract</a>, we expect you to check your email once per business day and expect that you will respond to messages in a timely manner.</p>
<p>Please email Cole with a headshot photo so we can put this on the website.</p>

<a href="./intro.html" class="btn btn-outline-primary float-left col-5 col-md-3">&larr; Intro</a>
<a href="./git.html" class="btn btn-outline-primary float-right col-5">Next: Git &rarr;</a>
{% endblock %}
