{% extends 'base.html' %}
{% block title %}Installing and Setting Up Git{% endblock %}
{% block content %}
<p>We will use Git to work together on our shared codebase.</p>
<p>Git is a version-control system that allows us to collaborate on code, track our changes, and merge our own changes with others'. GitHub is a popular code repository hosting service. We will use GitHub to host our code, make pull requests, and track issues. If you are unfamiliar with Git or GitHub, please take a moment to read <a href="https://guides.github.com/introduction/flow/">Understanding the GitHub flow</a>.</p>
<h5>Install Atom</h5>
<p>Atom is a text editor created by GitHub that includes a GUI for Git. It's also a powerful text editor, but in this lab, we'll be using Atom exclusively for its Git GUI.</p>
<p>When <a href="https://atom.io">Installing Atom</a>, make sure to install the appropriate version for your machine and follow the installation steps.</p>

<h5>Check if you have git installed</h5>
<p>Open the terminal and enter the following command to check whether Git is installed:</p>
<p><code>git --version</code></p>
<p>If you receive output that indicates that <code>git</code> is not a recognized command, it is most likely because Git is not installed. Download the current installer from the <a href="https://git-scm.com">Git website</a>, and continue to the instructions below.
<p>If instead you find that git is installed with version 2.20+, you can skip ahead to <a href="#cloning">Cloning the Repository</a>.</p>
<h5>Install git</h5>
<p>If you're on macOS, run the installer and skip ahead to <a href="#cloning">Cloning the Repository</a>.</p>
<p>If you're on Windows, follow the instructions below.</p>
<p>Launch the installer and accept the license information displayed at its start.</p>
<p>You will now see a screen showing several installation options. Make sure that you have all of these boxes checked:</p>
<p><img class="img-fluid" alt="" src="./images/git/git_install_options.png" /></p>
<p>Select Atom as your default editor for Git.</p>
<p><img class="img-fluid" alt="" src="./images/git/atom.png" /></p>
<p>The next screen allows you to set your PATH environment, which is what allows you to use Git from the command line. Make sure that the last option is checked.</p>
<p><img class="img-fluid" alt="" src="./images/git/git_path.png" /></p>
<p>On the next screen, make sure that "Use the OpenSSL Library" option is checked, and move on to the next page.</p>
<p><img class="img-fluid" alt="" src="./images/git/openssl.png" /></p>
<p>Make sure that check the top option ("Checkout Windows-style"), as these settings will help tell Git what type of computer you are using, and will allow it to convert files as necessary. This lets other people view your code no matter what operating system they are on.</p>
<p><img class="img-fluid" alt="" src="./images/git/git_line_ending.png" /></p>
<p>After this step, you should select the default terminal emulator that Git Bash uses. Please ensure that you are using MinTTY.</p>
<p><img class="img-fluid" alt="" src="./images/git/git_terminal.png" /></p>
<p>The following step should be left as its defaults:</p>
<p><img class="img-fluid" alt="" src="./images/git/git_options.png" /></p>
<p>If you are given the option to install experimental options on the next page, please do <strong>not</strong> select any of them.</p>
<p>Click <code>Install</code> to finish installing Git onto your computer.</p>

<a href="./intro.html" class="btn btn-outline-primary float-left col-5 col-md-3">&larr; Intro and Comms</a>
<a href="./python.html" class="btn btn-outline-primary float-right col-5 col-md-3">Python &rarr;</a>

{% endblock %}
