{% extends 'base.html' %}

{% block title %}MIT Digital Humanities: UROP site{% endblock %}

{% block content %}
<p>Welcome to the Digital Humanties lab UROP site. The purpose of this site is to provide the information you'll need to get setup and work on projects in the lab.</p>


<p>
<h5>Spring 2021: Machine Learning Applications for Remote Language Instruction</h5>
<ul>
    <li><a href="lang_learn.html">Project installation guide</a></li>
    <li><a href="https://drive.google.com/drive/folders/1msxPjC872yDhbiqtqzTNcAzK05MprTRH?usp=sharing">Google Drive folder</a></li>
</ul>
</p>

<p>
<h5>Fall 2020: This was Paris in 1970</h5>
<ul>
    <li><a href="paris_project_installation.html">Project installation guide</a></li>
    <li><a href="https://drive.google.com/drive/folders/1ruU9_HVEnWH1OitbqkMzqTFE4sqL4AD0?usp=sharing">Google Drive folder</a></li>
</ul>
</p>

<p>
<h5>
    Spring 2020: Gamifying "Democracy and Development: Perspectives from Africa"
</h5>
<ul>
    <li><a href="democracy-africa.html">Sprint schedule</a></li>
</ul>
</p>


<p>
<h5>
    Fall 2019: The Reading Redux
</h5>
<ul>
    <li><a href="rereading.html">Project installation guide</a></li>
</ul>
</p>

{% endblock %}
