{% extends 'base.html' %}

{% block content %}
<h1>MIT Digital Humanities: UROP site</h1>
<p>Welcome to the Digital Humanties lab UROP site. The purpose of this site is to provide the information you'll need to get setup and work on projects in the lab.</p>
<h2>Technical Onboarding</h2>
<p><a href="intro.html">Introduction</a></p>
<p><a href="python.html">Installing Python</a></p>
<p><a href="git.html">Setting up Git</a></p>
<p><a href="pycharm.html">Setting up Pycharm</a></p>
<p><a href="npm.html">Installing npm</a></p>
<p><a href="windows.html">Windows Workarounds</a></p>
{% endblock %}