{% extends 'base.html' %}
{% block title %}Installing DH Lab Tools{% endblock %}
{% block content %}
<p>This document will walk you through the process of setting up the tools that we use in the DH Lab to do our work.</p>
<h2>Preliminary notes</h2>
<p>We support macOS 10.13+ and Windows 10. </p>
<p>There are a lot of tools available to help you write and maintain code. We're going to ask you to use a specific set of tools for all of your labwork. This is so that if something goes wrong, we can help, and so that you can help each other as you gain mastery of these tools.</p>
<p>This might be your first experience writing software on a large team, which requires a set of practices to allow us to work towards a common goal without stepping on each others toes. By the end of this guide, you should be ready to contribute code to our shared project, to create issues in our shared bug tracker, and to communicate with other members on the team.</p>
<h2>Communication</h2>
<p>Communication comes first because without it, we can't get anything done.</p>

<h5>GitHub</h5>
<p>If you do not already have a GitHub account, <a href="https://github.com/join">create one</a>. Ideally choose a username that makes it easy for others to identify you, and remember that your GitHub account is going to be a part of your professional identity, so choose wisely.</p>
<p>Email Ryaan at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#114;&#97;&#104;&#109;&#101;&#100;&#64;&#109;&#105;&#116;&#46;&#101;&#100;&#117;">&#114;&#97;&#104;&#109;&#101;&#100;&#64;&#109;&#105;&#116;&#46;&#101;&#100;&#117;</a> with your username, so he can add you to <a href="https://github.com/dhmit/">our organization</a>.</p>
<p>Even if you already have a GitHub account, you may wish to sign up for the <a href="https://education.github.com/pack">Student Developer Pack.</a></p>

<h5>Slack</h5>
<p>Join <a href="https://slack.com/">Slack</a>, and join the <code>mitdhlab</code> workspace.</p>

<h5>Email</h5>
<p>As stated in in the <a href="contract.html">UROP Contract</a>, we expect you to check your email once per business day and expect that you will respond to messages in a timely manner.</p>

<p>See <a href="contact.html">Contact</a> for potentially useful email addresses.</p>


<a href="./git_and_atom.html" class="float-right">Next: Git and Atom &#x27A1;</a>
{% endblock %}
