{% extends 'base.html' %}
{% block title %}Installing DH Lab Tools{% endblock %}
{% block content %}
<p>This document will walk you through the process of setting up the tools that we use in the DH Lab to do our work.</p>
<h5>Preliminary notes</h5>
<p>We support macOS 10.13+ and Windows 10. We love Linux (and use Ubuntu 18.04 for all of our web servers!), but we can't support it in the lab as there are just too many possible configuration problems. 
<p>There are a lot of tools available to help you write and maintain code. We're going to ask you to use a specific set of tools for all of your labwork. This is so that if something goes wrong, we can help, and so that you can help each other as you gain mastery of these tools.</p>
<p>This might be your first experience writing software on a large team, which requires a set of practices to allow us to work towards a common goal without stepping on each others toes. By the end of this guide, you should be ready to contribute code to our shared project, to create issues in our shared bug tracker, and to communicate with other members on the team.</p>
<a href="./communication.html" class="btn btn-outline-primary float-right col-5">Next: Communication &rarr;</a>
{% endblock %}
