{% extends 'base.html' %}
{% block title %}PyCharm Installation{% endblock %}
{% block content %}
<p>In the Digital Humanities Lab, we'll be using the PyCharm IDE from JetBrains. An IDE (Integrated Development Environment) is a tool that allows you to write, run, test, debug, and lint code all in one place. By standardizing the IDE across the lab, we hope to facilitate collaboration and standardize support. This tutorial will walk you through installation and setup of PyCharm.</p>
<h5>Installation</h5>
<p>As students with a <code>.edu</code> email address, you can get PyCharm for free by <a href="https://www.jetbrains.com/student/">signing up for an educational account</a>.</p>
<p>Once you have signed up for an account, you will receive an email activation to confirm your email. When you click on the link you will be able to download PyCharm among other JetBrains offerings.</p>
<p>Alternately you can download PyCharm through this <a href="https://www.jetbrains.com/pycharm/download/">direct link</a> -- be sure to get the Professional Edition.</p>
<p>During installation and setup, you can choose your preferred settings, but please note the following:</p>


<hr class="d-lg-none">
<div class="row">
    <div class="col-lg-4">
        <p>When prompted, select "Do not import settings". 
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt=""
                src="./images/pycharm_init_1.png" /></p>
    </div>
</div>

<hr class="d-lg-none">
<div class="row">
    <div class="col-lg-4">
        <p>Don't create a launcher script--leave the checkbox empty.
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt=""
                src="./images/pycharm_init_4.png" /></p>
    </div>
</div>

<hr class="d-lg-none">
<div class="row">
    <div class="col-lg-4">
        <p>When prompted, install Markdown and Bash Support, if available (these options are not available on all platforms).
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt=""
                src="./images/pycharm_init_5.png" /></p>
    </div>
</div>

<p>Once the setup is finished, close PyCharm and move on to the next step.</p>

<a href="./python.html" class="btn btn-outline-primary float-left col-5 col-md-3">&larr; Python</a>
<a href="./node_and_npm.html" class="btn btn-outline-primary float-right col-5 col-md-3">Node.js and npm &rarr;</a>


{% endblock %}
