{% extends 'base.html' %}
{% block title %}Python{% endblock %}

{% block content %}
<p>This document will walk you through the process of installing Python 3.7. Please read the beginning of this guide <strong>even if</strong> you already have Python installed, as we need to ensure that you're using a version of Python that's compatible with the lab's development tools. </p>

<h5>Check if Python is Installed</h5>
<p>Open your terminal and run the following command</p>


<div class="row">
    <div class="col-2">macOS</div>
    <div class="col">
        <kbd>
            python3 --version
        </kbd>
    </div>
</div>

<div class="row">
    <div class="col-2">Windows</div>
    <div class="col">
        <kbd>
            python --version
        </kbd>
    </div>
</div>
<br>


<p>If you receive an error or your version of Python is &lt; 3.7, skip ahead to <a href="install_python">Install Python</a>.</p>
<p>If you have Python 3.7 already installed, try the following command in the terminal:</p>


<div class="row">
    <div class="col-2">macOS</div>
    <div class="col">
        <kbd>
            which python3
        </kbd>
    </div>
</div>

<div class="row">
    <div class="col-2">Windows</div>
    <div class="col">
        <kbd>
            which python
        </kbd>
    </div>
</div>
<br>

<p>This will output the location of your Python interpreter. If the output contains any reference to 'Anaconda' -- a popular Python distribution that you might be using in some of your classes -- please follow the instructions below to install Python.</p>

<h5>Install Python</h5>

<p>Visit the <a href="https://www.python.org/downloads/">Python download page</a>, download, and install Python 3.7 for your operating system.</p>


<div class="row">
    <div class="col-lg-4">
        <p>On Windows, make sure to click <code>Add Python to Path</code> on the first screen.</p>
    </div>
    <div class="col-lg-8">
        <p><img class="img-fluid mx-2 mx-lg-0 border" alt=""
                src="./images/python_path.png" /></p>
    </div>
</div>


<p>Once Python is installed, open your terminal and run:</p>

<div class="row">
    <div class="col-2">macOS</div>
    <div class="col">
        <kbd>
            python3
        </kbd>
    </div>
</div>

<div class="row">
    <div class="col-2">Windows</div>
    <div class="col">
        <kbd>
            python
        </kbd>
    </div>
</div>
<br>
<p>This will start the Python Shell, which should report Python version 3.7.x (where ideally x is 4). Try running some code, if you like, and then quit by running <kbd>quit()</kbd> in the shell.</p>
<p>Finally, open the terminal and run the following command:</p>

<div class="row">
    <div class="col-2">macOS</div>
    <div class="col">
        <kbd>
            which python3
        </kbd>
    </div>
</div>

<div class="row">
    <div class="col-2">Windows</div>
    <div class="col">
        <kbd>
            which python
        </kbd>
    </div>
</div>
<br>


<p>This tells you where your Python interpreter is installed. Please take note of this path; we'll use it later.</p>
<p>If at an earlier stage you discovered that you had Python installed via Anaconda and this path <em>still</em> references Anaconda, find Ryaan, who will attempt to perform an exorcism on your machine.</p>

<a href="./git_and_atom.html" class="btn btn-outline-primary float-left col-5 col-md-3">&larr; Git and Atom</a>
<a href="./pycharm.html" class="btn btn-outline-primary float-right col-5 col-md-3">PyCharm &rarr;</a>

{% endblock %}
